@media (max-width: 600px) {
    .todo-app {
        width: 95%;
        padding: 20px 10px 40px;
        margin: 40px auto;
    }
    .todo-app h1 {
        margin-left: 0;
        font-size: 1.5rem;
        justify-content: center;
    }
    .row {
        flex-direction: column;
        padding-left: 10px;
        gap: 10px;
    }
    button {
        width: 100%;
        font-size: 1rem;
    }
    input {
        font-size: 1rem;
        padding: 10px;
    }
    ul li {
        font-size: 15px;
        padding: 10px 8px 10px 40px;
    }
    ul li::before {
        height: 22px;
        width: 22px;
        top: 6px;
        left: 10px;
    }
    ul li span {
        width: 32px;
        height: 32px;
        font-size: 18px;
        line-height: 32px;
    }
}
